@using Microsoft.CodeAnalysis.CSharp.Syntax
@model Cart
@{
    var cartDetail = (List<CartDetail>) ViewData["cart"];
}
<main class="cart-page default">
<div class="container">
@if (Model != null && Model.CartDetails.Count > 0)
{
    <div class="row">
        <div class="cart-page-content col-xl-9 col-lg-8 col-md-12 order-1">
            <div class="cart-page-title">
                <h1>سبد خرید</h1>
            </div>

            <div class="table-responsive checkout-content default">
                <table class="table">
                    <tbody>
                    @foreach (var item in Model.CartDetails)
                    {
                        <tr class="checkout-item">
                            <td>
                                <img style="max-height: 100px; max-width: 100px" src="/images/product/@item.Product.ProductImages.Select(n => n.Names).First()" alt="">
                                <a onclick="return confirm('کالا حذف شود؟')" asp-controller="Cart" asp-action="Delete" asp-route-cartId="@Model.CartId" asp-route-cartDetailId="@item.DetailId" class="checkout-btn-remove"></a>
                            </td>
                            <td>
                                <h3 class="checkout-title">
                                    @item.Product.ProductName
                                </h3>
                            </td>
                            <td> @item.Quantity عدد</td>
                            <td>@item.Price.ToString("##,###")</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        <aside class="cart-page-aside col-xl-3 col-lg-4 col-md-6 center-section order-2">
            <div class="checkout-aside">
                <div class="checkout-summary">
                    <div class="checkout-summary-main">
                        <ul class="checkout-summary-summary">
                            <li><span>مبلغ کل (@Model.Count کالا)</span><span>@Model.TotalPrice.ToString(("##,###")) تومان</span></li>
                            <li>
                                <span>هزینه ارسال</span>
                                <span>
                                    وابسته به آدرس
                                    <span class="wiki wiki-holder">
                                        <span class="wiki-sign"></span>
                                        <div class="wiki-container js-dk-wiki is-right">
                                            <div class="wiki-arrow"></div>
                                            <p class="wiki-text">
                                                هزینه ارسال مرسولات می‌تواند وابسته به شهر و آدرس گیرنده
                                                متفاوت باشد. در
                                                صورتی که هر
                                                یک از مرسولات حداقل ارزشی برابر با ۱۰۰هزار تومان داشته باشد،
                                                آن مرسوله
                                                بصورت رایگان
                                                ارسال می‌شود.<br>
                                                "حداقل ارزش هر مرسوله برای ارسال رایگان، می تواند متغیر
                                                باشد."
                                            </p>
                                        </div>
                                    </span>
                                </span>
                            </li>
                        </ul>
                        <div class="checkout-summary-devider">
                            <div></div>
                        </div>
                        <div class="checkout-summary-content">
                            <div class="checkout-summary-price-title">مبلغ قابل پرداخت:</div>
                            <div class="checkout-summary-price-value">
                                <span class="checkout-summary-price-value-amount">@Model.TotalPrice.ToString(("##,###"))</span>تومان
                            </div>
                            <a asp-action="Shopping"  class="selenium-next-step-shipping">
                                <div class="parent-btn">
                                    <button class="dk-btn dk-btn-info">
                                        ادامه ثبت سفارش
                                        <i class="now-ui-icons shopping_basket"></i>
                                    </button>
                                </div>
                            </a>
                            <div>
                                <span>
                                    کالاهای موجود در سبد شما ثبت و رزرو نشده‌اند، برای ثبت سفارش مراحل بعدی
                                    را تکمیل
                                    کنید.
                                </span>
                                <span class="wiki wiki-holder">
                                    <span class="wiki-sign"></span>
                                    <div class="wiki-container is-right">
                                        <div class="wiki-arrow"></div>
                                        <p class="wiki-text">
                                            محصولات موجود در سبد خرید شما تنها در صورت ثبت و پرداخت سفارش
                                            برای شما رزرو
                                            می‌شوند. در
                                            صورت عدم ثبت سفارش، دیجی کالا هیچگونه مسئولیتی در قبال تغییر
                                            قیمت یا موجودی
                                            این کالاها
                                            ندارد.
                                        </p>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="checkout-feature-aside">
                    <ul>
                        <li class="checkout-feature-aside-item checkout-feature-aside-item-guarantee">
                            هفت روز
                            ضمانت تعویض
                        </li>
                        <li class="checkout-feature-aside-item checkout-feature-aside-item-cash">
                            پرداخت در محل با
                            کارت بانکی
                        </li>
                        <li class="checkout-feature-aside-item checkout-feature-aside-item-express">
                            تحویل اکسپرس
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
    </div>
}
else
{
    if (ViewData["cart"] != null)
    {
        <div class="row">
            <div class="cart-page-content col-xl-9 col-lg-8 col-md-12 order-1">
                <div class="cart-page-title">
                    <h1>سبد خرید</h1>
                </div>
                <div class="table-responsive checkout-content default">
                    <table class="table">
                        <tbody>
                        @foreach (var item in cartDetail)
                        {
                            <tr class="checkout-item">
                                <td>
                                    <img style="max-height: 100px; max-width: 100px" src="/images/product/@item.Product.ProductImages.Select(i => i.Names).First()" alt="">
                                    <a onclick="return confirm('کالا حذف شود؟')" asp-controller="Cart" asp-action="Delete" asp-route-productId="@item.ProductId" class="checkout-btn-remove"></a>
                                </td>
                                <td>
                                    <h3 class="checkout-title">
                                        @item.Product.ProductName
                                    </h3>
                                </td>
                                <td> @item.Quantity عدد</td>
                                <td>@item.Price.ToString("##,###")</td>
                            </tr>
                        }


                        </tbody>
                    </table>
                </div>
            </div>
            <aside class="cart-page-aside col-xl-3 col-lg-4 col-md-6 center-section order-2">
                <div class="checkout-aside">
                    <div class="checkout-summary">
                        <div class="checkout-summary-main">
                            <ul class="checkout-summary-summary">
                                <li><span>مبلغ کل (@cartDetail.Select(q=>q.Quantity).Sum() کالا)</span><span>@cartDetail.Select(p=>p.Price).Sum().ToString("##,###") تومان</span></li>
                                <li>
                                    <span>هزینه ارسال</span>
                                    <span>
                                        وابسته به آدرس
                                        <span class="wiki wiki-holder">
                                            <span class="wiki-sign"></span>
                                            <div class="wiki-container js-dk-wiki is-right">
                                                <div class="wiki-arrow"></div>
                                                <p class="wiki-text">
                                                    هزینه ارسال مرسولات می‌تواند وابسته به شهر و آدرس گیرنده
                                                    متفاوت باشد. در
                                                    صورتی که هر
                                                    یک از مرسولات حداقل ارزشی برابر با ۱۰۰هزار تومان داشته باشد،
                                                    آن مرسوله
                                                    بصورت رایگان
                                                    ارسال می‌شود.<br>
                                                    "حداقل ارزش هر مرسوله برای ارسال رایگان، می تواند متغیر
                                                    باشد."
                                                </p>
                                            </div>
                                        </span>
                                    </span>
                                </li>
                            </ul>
                            <div class="checkout-summary-devider">
                                <div></div>
                            </div>
                            <div class="checkout-summary-content">
                                <div class="checkout-summary-price-title">مبلغ قابل پرداخت:</div>
                                <div class="checkout-summary-price-value">
                                    <span class="checkout-summary-price-value-amount">@cartDetail.Select(p => p.Price).Sum().ToString("##,###")</span>تومان
                                </div>
                                <a  href="user/login" class="selenium-next-step-shipping">
                                    <div class="parent-btn">
                                        <button onclick="addRoot()" class="dk-btn dk-btn-info">
                                            ادامه ثبت سفارش
                                            <i class="now-ui-icons shopping_basket"></i>
                                        </button>
                                    </div>
                                </a>
                                <div>
                                    <span>
                                        کالاهای موجود در سبد شما ثبت و رزرو نشده‌اند، برای ثبت سفارش مراحل بعدی
                                        را تکمیل
                                        کنید.
                                    </span>
                                    <span class="wiki wiki-holder">
                                        <span class="wiki-sign"></span>
                                        <div class="wiki-container is-right">
                                            <div class="wiki-arrow"></div>
                                            <p class="wiki-text">
                                                محصولات موجود در سبد خرید شما تنها در صورت ثبت و پرداخت سفارش
                                                برای شما رزرو
                                                می‌شوند. در
                                                صورت عدم ثبت سفارش، دیجی کالا هیچگونه مسئولیتی در قبال تغییر
                                                قیمت یا موجودی
                                                این کالاها
                                                ندارد.
                                            </p>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="checkout-feature-aside">
                        <ul>
                            <li class="checkout-feature-aside-item checkout-feature-aside-item-guarantee">
                                هفت روز
                                ضمانت تعویض
                            </li>
                            <li class="checkout-feature-aside-item checkout-feature-aside-item-cash">
                                پرداخت در محل با
                                کارت بانکی
                            </li>
                            <li class="checkout-feature-aside-item checkout-feature-aside-item-express">
                                تحویل اکسپرس
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>



        </div>


    }
    else
    {
        <div class="container text-center">
            <div class="cart-empty">
                <div class="cart-empty-icon">
                    <i class="now-ui-icons shopping_basket"></i>
                </div>
                <div class="cart-empty-title">سبد خرید شما خالیست!</div>
                <div class="parent-btn">
                    <a href="/user/login" class="dk-btn dk-btn-success">
                        به حساب کاربری خود وارد شوید
                        <i class="fa fa-sign-in"></i>
                    </a>
                </div>
                <div class="cart-empty-url">
                    <span>کاربر جدید هستید؟</span>
                    <a href="/user/register" id="fgh">ثبت‌نام در دیجی کالا</a>
                </div>
            </div>
        </div>
    }

    <form id="submit" method="get" asp-action="Index">
        <div id="hideDive"></div>
    </form>

}

</div>

</main>
<script>
  
    function addRoot() {
        
        document.cookie="CartRoot=" + true;
    }
</script>
